<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNetCore.Cryptography.Internal" version="5.0.5" targetFramework="netcoreapp3.1" />
  <package id="Microsoft.AspNetCore.Cryptography.KeyDerivation" version="5.0.5" targetFramework="netcoreapp3.1" />
  <package id="Microsoft.EntityFrameworkCore.Abstractions" version="5.0.5" targetFramework="netcoreapp3.1" />
  <package id="Microsoft.EntityFrameworkCore.Analyzers" version="5.0.5" targetFramework="netcoreapp3.1" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="5.0.0" targetFramework="netcoreapp3.1" />
  <package id="Microsoft.Extensions.Caching.Memory" version="5.0.0" targetFramework="netcoreapp3.1" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="5.0.0" targetFramework="netcoreapp3.1" />
  <package id="Microsoft.Extensions.DependencyInjection" version="5.0.1" targetFramework="netcoreapp3.1" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="5.0.0" targetFramework="netcoreapp3.1" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="5.0.0" targetFramework="netcoreapp3.1" />
  <package id="Microsoft.Extensions.Options" version="5.0.0" targetFramework="netcoreapp3.1" />
  <package id="Microsoft.Extensions.Primitives" version="5.0.0" targetFramework="netcoreapp3.1" />
  <package id="System.Collections.Immutable" version="5.0.0" targetFramework="netcoreapp3.1" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="netcoreapp3.1" />
</packages>