@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a Buya</h1>
    <p>Actualmente estamos trabajando para mejorar tu experiencia.</p>
</div>
